body {
    background-color: #e7e6e5;
    color: #3b3a3a;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 13px;
}
a {
    color: #f14e30;
}
a:hover {
    text-decoration: underline;
}
a:focus {
    outline: none;
}
div, input, * {
    box-sizing: border-box;
}
.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}
.formGlobal {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dddddd;
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
    color: #555555;
    display: block;
    font-size: 13px;
    height: 31px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s;
	-webkit-transition: border-color 0.15s ease-in-out 0s;
	-moz-transition: border-color 0.15s ease-in-out 0s;
    width: 100%;
}
.formGlobal:focus {
    border-color: #e64b3a;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(229, 137, 127, 0.6);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(229, 137, 127, 0.6);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(229, 137, 127, 0.6);
    outline: 0 none;
}
.formGlobal::-moz-placeholder {
    color: #999999;
    opacity: 1;
}
.formGlobal[disabled], .formGlobal[readonly], fieldset[disabled] .formGlobal {
    background-color: #eeeeee;
    cursor: not-allowed;
    opacity: 1;
}
textarea.formGlobal {
    height: auto;
}
.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 300;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 5px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	transition: all 200ms ease-in;	
}
.btn:focus {
	outline:none;	
}
.btn i {
	margin-right:5px;	
}
.btnPrimary {
	background-color:#f14e30;
	color:#ffffff;
	display:block;
	margin-top:10px;
	margin-bottom:10px !important;	
}
.btnPrimary:hover {
	background-color:#ff7145;
	text-decoration:none;
 }
.preloader {
	background:url(../images/ajax-loader.gif) no-repeat;
	width:32px;
	height:32px;
	display:block;	
	position:absolute;
	right:20px;
	top:10px;
	margin-left:-50px;
}
.homeList .preloader {
	right:10px;
}
/*********************************
		pop up
**********************************/
html.overlay {
	overflow:hidden;	
}
.popup-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, .7);
    top: 0;
    left: 100%;
	z-index:999;
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -ms-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}
.overlay .popup-overlay {
    opacity: 1;
    left: 0
}
.popup {
    position: absolute;
    top: -20%;
    left: 50%;
	margin-bottom:50px;
    z-index: -9999;
	-webkit-transition: top .3s ease-out;
    -moz-transition: top .3s ease-out;
    -ms-transition: top .3s ease-out;
    -o-transition: top .3s ease-out;
    transition: top .3s ease-out;
}
.animatePopup {
	top:10%;	
}
.popup .popup-body {
    background: #f4f4f4;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
    opacity: 0;
    min-height: 150px;
    width: 590px;
    margin-left: -290px;
	margin-bottom:30px;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -ms-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
    position: relative;
    -moz-box-shadow: 0 10px 17px 6px rgba(0, 0, 0, 0.40);
    -webkit-box-shadow: 0 10px 17px 6px rgba(0, 0, 0, 0.40);
    box-shadow: 0 10px 17px 6px rgba(0, 0, 0, 0.40);
    border: 1px solid #e9e9e9;
}
.popup.visible, .popup.transitioning {
    z-index: 9999;
}
.popup.visible .popup-body {
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.popup .popup-exit {
    color: #ffffff;
    cursor: pointer;
    display: block;
    position: absolute;
    right: 35px;
    text-align: center;
    top: -35px;;
    width: 24px;
}
.popup .popup-exit:hover {
	color:#f14e30;
	text-decoration:none;	
}
.popupContent {
	padding:20px;	
	position:relative;
}
.contentAuthor {
	line-height:20px;
	height:400px;
	font-size:14px;
	overflow:auto;
	-webkit-overflow-scrolling:touch;
}
#header {
    background-color: #ffffff;
    border-bottom: 1px solid #f15e30;
    height: 60px;
    left: 0;
    min-width: 1220px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
#header h1 {
    float: left;
    margin: 10px 20px;
}
#header h4 {
	float: left;
    margin: 10px 20px;
}
.logo {
    background: url("../images/logo.png");
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
    display: block;
    height: 40px;
    text-indent: -9999px;
    width: 123px;
}
.navMenu {
    float: left;
    margin-left: 40px;
}
.navMenu li {
    float: left;
}
.navMenu li a {
    color: #3b3a3a;
    display: block;
    font-size: 13px;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    text-transform: uppercase;
	white-space:nowrap;
}
.navMenu li a:hover {
    color: #f15e30;
    text-decoration: none;
}
.navMenu li a.active {
    border-bottom: 4px solid #f15e30;
}
.navMenu li a i {
    margin-left: 10px;
}
.navMenu li a.statusStory {
    background-color: #f4f0ef;
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
    height: 30px;
    line-height: 30px;
    margin-top: 15px;
    transition: all 200ms ease-in 0s;
	-webkit-transition: all 200ms ease-in 0s;
	-moz-transition: all 200ms ease-in 0s;
    width: 183px;
}
.navMenu li a.animateStatus {
    height: 44px;
    line-height: 44px;
}
.haveSubMenu {
    position: relative;
}
.subMenu {
    background-color: #f4f0ef;
    border-top: 4px solid #f14e30;
    display: none;
    left: 0;
    min-width: 230px;
    padding: 10px 0 10px 20px;
    position: absolute;
    top: 55px;
}
.subMenu li {
    float: none;
}
.subMenu li a {
    border-bottom: 1px solid #dddddd;
    height: 40px;
    line-height: 40px;
    padding-left: 0;
}
.subMenu li a.last {
    border-bottom: none;
}
.searchBox {
    float: right;
    height: 60px;
    padding: 0 80px 0 0;
    position: relative;
    width: 300px;
}
.searchBox .formGlobal {
    border:none;
    border-bottom:1px solid #ffffff;
    font-style: italic;
    height: 30px;
    margin-top: 15px;
    padding: 0 10px;
}
.searchBox .formGlobal:focus {
    border-bottom:1px solid #dddddd;
    box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
    outline: 0 none;
}
.buttonBg {
    background-color: #f14e30;
    position: absolute;
    right: 0;
    top: 0;
}
.searchBox button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: none;
    color: #ffffff;
    font-size: 24px;
    height: 60px;
    width: 60px;
}
.buttonBg .arrowLeft {
    color: #f14e30;
    font-size: 25px;
    left: -8px;
    position: absolute;
    top: 17px;
}
.bgOverlay {
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 99;
}
#container {
    margin: 0 auto;
    max-width: 1220px;
    min-width: 1220px;
    padding-top: 60px;
}
.boxContent {
    background-color: #f3f3f2;
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(50, 50, 50, 0.2);
	-webkit-box-shadow: 0 0 4px 0 rgba(50, 50, 50, 0.2);
	-moz-box-shadow: 0 0 4px 0 rgba(50, 50, 50, 0.2);
    margin-top: 20px;
    padding: 20px 20px 0 20px;
}
.headContent {
    padding: 0 10px;
    position: relative;
}
.headContent.hot {
    padding: 0;
}
.titleHead3 {
    font-size: 24px;
    margin: 5px 0 15px;
    text-transform: uppercase;
	font-family:'uvn_ai_capbold';
	font-weight:normal;
}
.viewAll {
    color: #3b3a3a;
    position: absolute;
    right: 76px;
    top: -2px;
    z-index: 97;
}
.viewAll:hover {
    color: #f15e30;
    text-decoration: none;
}
.support {
    background-color: #f3f3f2;
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
    font-size: 13px;
    margin-top: 20px;
    padding: 10px;
    position: relative;
}
.btnClose {
    color: #a6a6a6;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
}
.btnClose:hover {
    color: #3b3a3a;
}
.item {
    float: left;
    padding: 0 10px;
	margin-bottom:20px;
}
.item.hot {
    padding: 0;
}
.itemX1 {
    width: 180px;
}
.itemX2 {
    width: 380px;
}
.itemX2 a, .itemX1 a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.thumbItem {
    display: block;
    position: relative;
}
.thumbItem a {
	display:block;	
}
.storyShadow {
    bottom: -6px;
    display: block;
    height: 6px;
    position: absolute;
    width: 100%;
}
.storyShadow span {
    background-color: #ffffff;
    border-bottom: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    display: block;
    height: 2px;
}
.storyShadow1st {
    margin: 0 2px;
}
.storyShadow2nd {
    margin: 0 4px;
}
.storyShadow3rd {
    margin: 0 6px;
}
.itemX2 .thumbItem img, .itemX1 .thumbItem img {
    display: block;
    width: 100%;
}
.titleItem {
    color: #3b3a3a;
    display: block;
    font-size: 13px;
    font-weight: bold;
    padding: 15px 0 10px;
}
.titleItem:hover, .categoryItem:hover {
    color: #f14e30;
    text-decoration: none;
}
.itemX1 .authorItem {
    display: block;
}
.itemX2 .authorItem {
    display: block;
}
.categoryItem {
    color: #979797;
}
.itemX2 .wCategory {
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 380px;
}
.itemX1 .wCategory {
    margin-top: 5px;
    width: 180px;
}
#itemsHot .owl-controls {
    border: 1px solid #dddddd;
    border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
    font-size: 16px;
    height: 30px;
    line-height: 26px;
    padding-left: 60px;
    position: absolute;
    right: 0;
    text-align: center;
    top: -50px;
    width: 125px;
}
#itemsHot .owl-controls .disabled {
    color: #dddddd;
}
#itemsHot .owl-controls .owl-next {
    float: left;
    height: 30px;
    width: 30px;
}
#itemsHot .owl-controls .owl-prev {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    float: left;
    height: 30px;
    width: 30px;
}
#itemsHot .owl-controls .owl-prev:hover, #itemsHot .owl-controls .owl-next:hover {
    color: #f15e30;
}
#itemsHot .owl-controls .disabled.owl-prev:hover, #itemsHot .owl-controls .disabled.owl-next:hover {
    color: #dddddd;
}
@media (max-width: 1279px) {
.item.hot .itemX1 {
    width: 172px;
}
.item.hot .itemX2 {
    width: 364px;
}
}
.leftContent {
    float: left;
    width: 780px;
}
.rightContent {
    float: right;
    width: 370px;
}
.newStory {
    margin: 0 -10px;
}
.btnListGrid {
    border: 1px solid #dddddd;
    border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 0;
    width: 63px;
}
.btnListGrid a {
    color: #bfbfbf;
    display: block;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 29px;
    text-align: center;
    width: 30px;
}
.btnListGrid a:hover {
    color: #f14e30;
}
.btnListGrid a.active {
    color: #3b3a3a;
}
.btnGrid {
    border-right: 1px solid #dddddd;
}
.itemsNew {
	display:none;	
}
.tabContent .current {
    display: block;
}
.itemsNew.homeList {
	padding:0 10px;	
}
.homeList .leftStory {
	width:121px;
	height:169px;	
}
.homeList .rightStory {
	padding-left:141px;	
}
.homeList .rightStory h3 {
	font-size:18px;	
	margin-bottom:10px;
	font-weight:normal;
}
.homeList .contentDescStory {
    line-height: 20px;
    margin-top: 5px;
    max-height: 60px;
}
.itemsListLeft {
	height:110px;
	margin-bottom:20px;	
}
.thumbItemLL {
    float: left;
    position: relative;
}
.thumbLL {
	display:block;	
}
.thumbLL img {
    display: block;
    height: 110px;
    width: 80px;
}
.infoitemLL {
    padding-left: 95px;
}
.infoitemLL a, .infoitemLL .wCategory {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.titleItemLL {
	display:block;	
	color:#3b3a3a;
	font-weight:bold;
	padding: 5px 0;
}
.titleItemLL:hover {
	text-decoration:none;
	color:#f14e30;	
}
.authorItemLL {
	display:block;	
	padding: 5px 0;
}
.infoitemLL .wCategory {
	width:275px;	
}
.rankLL {
	margin-bottom:5px;	
	height:30px;
	line-height:30px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rankNumber {
	float:left;
	margin-right:15px;
	text-align:center;
	line-height:30px;
	font-size:16px;
	font-weight:bold;
	color:#ffffff;
	position:relative;
	width:30px;
	height:30px;
	border-radius: 2px;	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background-color:#a9a9a9;
}
.rankNumber i {
	color: #a9a9a9;
    display: block;
    font-size: 17px;
    position: absolute;
    right: -5px;
    top: 7px;
}
.rankNumber.blueLL {
	background-color:#22a7f0;
}
.rankNumber.blueLL i {
	color:#22a7f0;
}
.rankNumber.cyanLL {
	background-color:#03c9a9;	
}
.rankNumber.cyanLL i {
	color:#03c9a9;
}
.rankNumber.greenLL {
	background-color:#57c745;	
}
.rankNumber.greenLL i {
	color:#57c745;
}
.viewLL {
	color:#979797;	
}
.moreNewItem {
	padding:0 10px;	
	margin-top:20px;
	position:relative;
}
.moreNewItem a {
	display:block;
	width:100%;
	text-align:center;
	background-color:#f14e30;
	height:50px;	
	line-height:50px;
	font-weight:bold;
	color:#ffffff;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	transition: background-color 0.2s ease-in-out 0s;
	-webkit-transition: background-color 0.2s ease-in-out 0s;
	-moz-transition: background-color 0.2s ease-in-out 0s;
}
.moreNewItem a:hover {
	background-color:#ff7145;	
	text-decoration:none;
}
.homeList .moreNewItem {
	padding:0;	
}
.topCategory {
	margin:20px -20px;
	padding:10px 20px;
	border-top:1px solid #dddddd;	
}
.topViewCategory {
	margin:0 -10px;	
}
.topViewCategory dl {
	width:25%;
	padding:0 10px;
	float:left;	
	position:relative;
}
.topViewCategory dl dt a {
	color:#3b3a3a;
	display:block;
	padding-right:70px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.topViewCategory dl dt a:hover {
	color:#f14e30;
	text-decoration:none;	
}
.numView {
	position:absolute;
	top:0;
	right:20px;	
	color:#9e9e9e;
}
.percent {
	background-color:#d5d5d5;	
	height:4px;
	margin:7px 0 0 0;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
}
.percentStatus {
	display:block;	
	height:4px;
	background-color:#F00;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
}
.percentStatus.orange {
	background-color:#f15e30;	
}
.percentStatus.cyan1 {
	background-color:#2abb9b;	
}
.percentStatus.yellow {
	background-color:#f4b350;	
}
.percentStatus.red {
	background-color:#c74545;	
}
.percentStatus.blue {
	background-color:#22a7f0;	
}
.percentStatus.magenta {
	background-color:#9b59b6;	
}
.percentStatus.cyan2 {
	background-color:#03c9a9;	
}
.percentStatus.green {
	background-color:#57c745;	
}
.categoryView {
	margin:10px -10px 0 -10px;		
}
.categoryView ul li {
	float:left;
	width:25%;
	padding:5px 10px;	
}
.categoryView ul li a {
	color:#3b3a3a;
	display:block;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.categoryView ul li a:hover {
	color:#f14e30;
	text-decoration:none;	
}
.categoryView ul li a span {
	color:#9e9e9e;
}
/***********Detail************/
.leftStory {
	float:left;
	width:220px;
	height:306px;	
	position:relative;
}
.thumbLS img {
	display:block;	
}
.rightStory {
	padding-left:240px;	
}
.rightStory h1 {
	font-size:28px;
	font-family: "uvn_ai_capbold";
	font-weight:normal;
	margin:0 0 15px 0;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;	
	display:block;
	max-height:30px;
	transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
}
.rightStory h1:hover {
	text-overflow:inherit;
	white-space:normal;
	max-height:60px;
}
.wFeild {
	height:40px;	
}
.wFeildLeft {
	float:left;	
	max-width:250px;
}
.wFeildLeft .authorItem {
	margin-bottom:5px;
	display:block;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.wFeildLeft .wCategory {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.wFeildRight {
	float:right;
	width:170px;
}
.contentDescStory {
    margin-top: 10px;
    max-height: 90px;
	line-height:22px;
    overflow: hidden;
	color:#979797;
	font-size:14px;
    transition: max-height 200ms ease-in 0s;
	-webkit-transition: max-height 200ms ease-in 0s;
}
.readmoreDesc {
	margin-top:5px;	
}
.descLess {
	display:none;	
}
ul.tags {
	height: 36px;
    margin-top: 15px;
    overflow: hidden;	
}
ul.tags li {
	float:left;	
}
ul.tags li a {
	color:#7a7a7a;
	margin: 0 5px 5px 0;
	border:1px solid #d4d4d4;
	padding:5px 10px;
	display:block;
	border-radius:2px;
	-webkit-border-radius:2px;	
	-moz-border-radius:2px;
}
ul.tags li a:hover {
	color:#f14e30;
	text-decoration:none;	
}
.detailPrimary {
	float:left;	
}
.readCount {
	border-radius:2px;
	-webkit-border-radius:2px;	
	-moz-border-radius:2px;
	float:left;
	margin:10px 0  10px 15px;
	padding:8px 12px;
	background-color:#ffffff;
	border:1px solid #d4d4d4;
	position:relative;	
}
.readCount:before, .readCount:after {
	position: absolute;
	display: inline-block;
	border-top: 7px solid transparent;
	border-right: 7px solid #ffffff;
	border-bottom: 7px solid transparent;
	content: '';
}
.readCount:before {
	border-right-color: #d4d4d4;
	left: -7px;
	top: 9px;
}

.readCount:after {
	left: -6px;
	top: 9px;
}
.newestChapter, .fullChapter {
	margin-top:20px;
	border: 1px solid #e2e1e1;
}
.headChapter {
	background-color:#e2e1e1;
	padding:15px;
}
.headChapter h4 {
	font-family: "uvn_ai_capbold";
	font-weight:normal;
	font-size:18px;	
	margin:0;
}
.rowChapter {
	height:37px;
	line-height:36px;
}
.rowChapter.white {
	background-color:#ececec;
}
.rowChapter.grey {
	background-color:#e2e2e2;
}
.numChapter {
	float:left;	
	text-align:right;
	padding:0 15px;
	border-right: 1px solid #e2e1e1;
}
.numChapter a {
	color:#878787;	
}
.titleChapter {
	float:left;	
	padding:0 15px;
}
.titleChapter a {
	color:#3b3a3a;	
}
.titleChapter a:hover, .numChapter a:hover {
	color:#f14e30;
	text-decoration:none;	
}
.wPagination {
	padding: 10px 0;
	text-align:center;	
	background-color:#e2e2e2;
}
ul.pagination li {
	display:inline-block;
}
ul.pagination li a {
	padding: 5px 10px;
	display:block;
	color:#3a3b3b;
	font-size:13px;
	border-radius:2px;
	-webkit-border-radius:2px;	
	-moz-border-radius:2px;
}
ul.pagination li a.active {
	background-color:#f15e30;
	color:#ffffff !important;
	text-decoration:none !important;	
}
ul.pagination li a:hover {
	color:#f14e30;	
}
.commentFB h4 {
	font-family: "uvn_ai_capbold";
	font-weight:normal;
	font-size:18px;	
}
ul.breadcum {
	margin-top:20px;	
}
ul.breadcum li {
	float:left;
	color:#a4a4a4;	
}
ul.breadcum li a {
	color:#3b3a3a;	
}
ul.breadcum li a i {
	margin:0 10px;	
}
ul.breadcum li a:hover {
	color:#f14e30;
	text-decoration:none;	
}
/***************Read Page***************/
.boxContent.read {
	position:relative;	
}
.bgOverlayRead {
	background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 0;
    position: absolute;
    top: 3px;
    width: 100%;
    z-index: 3;
	display:none;
}
.wActionRead {
	margin:-20px;
	border-radius:4px 4px 0 0;
	position: relative;
    z-index: 4;
	-webkit-border-radius:4px 4px 0 0;	
	-moz-border-radius:4px 4px 0 0;
}
.actionRead {
	position:relative;
	height:50px;
	padding:0 50px;	
	background-color:#ffffff;
	border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;	
	-moz-border-radius:4px 4px 0 0;	
}
.fixed {
    position: fixed;
    top: 0;
    z-index: 99999;
}
.btnPrev, .btnNext {
	position:absolute;
	width:50px;
	height:50px;
	top:0;	
	text-align:center;
	line-height:50px;
	background-color:#f14e30;
	color:#ffffff;
	font-size:18px;
}
.btnPrev:hover, .btnNext:hover {
	color:#8a2303;	
}
.btnPrev {
	left:0;	
	border-radius:4px 0 0 0;
	-webkit-border-radius:4px 0 0 0;	
	-moz-border-radius:4px 0 0 0;
}
.btnNext {
	right:0;
	border-radius:0 4px 0 0;
	-webkit-border-radius:0 4px 0 0;	
	-moz-border-radius:0 4px 0 0;	
}
ul.moreAction li {
	float:left;	
	position:relative;
}
ul.moreAction li a {
	height:50px;
	line-height:50px;
	display:block;
	position:relative;
	width:50px;
	text-align:center;
	background:none;
	border-right:1px solid #e7e6e5;	
	color:#979797;
	font-size:25px;
	font-weight:bold;
	text-decoration:none;
}
ul.moreAction li a:hover {
	color:#f14e30 !important;	
}
ul.moreAction li a span {
	display: block;
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    right: 8px;
    top: -14px;
}
ul.moreAction li a.btnChapter {
	font-size:18px;	
	transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-webkit-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	transition: all 0.15s ease-in-out 0s;
	-webkit-transition: all 0.15s ease-in-out 0s;
	-moz-transition: all 0.15s ease-in-out 0s;
}
ul.moreAction li a.btnChapter.aniBtnChapter {
	transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	border:none;
}
.wlistChapter {
	position:absolute;
	top:50px;
	left:-50px;
	width:390px;
	display:none;
}
ul.listChapter {
	border-top:1px solid #e7e6e5;
	height:450px;
	background-color:#eeeeee;
	overflow:auto;
	-webkit-overflow-scrolling:touch;
}
ul.listChapter li {
	float:none;	
}
ul.listChapter li a {
	font-size:13px;
	padding:0 10px 0 110px;	
	display:block;
	height:40px;
	width:100%;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	position:relative;
	text-align:left;
	color:#404041;
	font-weight:normal;
}
ul.listChapter li a span {
	font-size: 13px;
    left: 0;
    position: absolute;
    text-align: right;
    top: 0;
    width: 90px;
	color:#979797;
	
}
.quickChapter {
	float:left;	
	padding-left:15px;
}
.quickChapter span {
	display:block;
	float:left;
	height:50px;
	line-height:50px;	
}
.quickPick {
	max-width:60px;	
	text-align:center;
	float:left;
	margin:10px 5px 10px 5px;
}
.contentRead {
	margin:50px auto 30px auto;
	max-width:800px;
	font-size:18px;
	line-height:165%;
}
.titleRead {
	font-family: "uvn_ai_capbold";
	font-weight:normal;
	font-size:30px;		
	text-align:center;
}
/****footer****/
#footer {
	margin:20px -20px 0 -20px;	
}
.supportFooter {
	background-color:#d5d4d2;	
	padding:10px 20px;
	
}
.contentFooter {
	background-color:#404041;	
	padding:10px 20px;
}
.copyright {
	float:left;
	font-size:13px;
	color:#9f9f9f;	
}
.social {
	float:right;	
	margin-top: 17px;
    width: 165px;
}
.social ul li {
	float:left;	
}
.social ul li a {
	display:block;
	width:34px;
	height:34px;
	font-size:15px;
	text-align:center;
	line-height:34px;
	color:#ffffff;
	margin-left:20px;
	border-radius:17px;
	-webkit-border-radius:17px;
	-moz-border-radius:17px;	
	transition: all 0.15s ease-in-out 0s;
	-webkit-transition: all 0.15s ease-in-out 0s;
	-moz-transition: all 0.15s ease-in-out 0s;
}
.facebook {
	background-color:#3b5999;	
}
.facebook:hover {
	color:#3b5999;
	background-color:#ffffff;
}
.google {
	background-color:#de4b39;	
}
.google:hover {
	color:#de4b39;	
	background-color:#ffffff;
}
.twitter {
	background-color:#00acee;	
}
.twitter:hover {
	color:#00acee;	
	background-color:#ffffff;
}


.fb-comments, .fb-comments span, .fb-comments iframe {
	max-width:100% !important;
	min-width: 100% !important;	
}
/*=========================================================================

									category
									
===================================================================*/
.rightContentCate{
	float: right;
	width: 280px;
	padding-top: 10px;
}
.rightContentCate .infoitemLL .wCategory{
	width: 185px;
}
.leftContentCate{
	float: left;
	width: 260px;
}
.leftItem{
	background:#ffffff;
	border:1px solid #eeeeee;
	margin-bottom: 20px;
}
.leftItem h3{
	background:url(../images/h3_line.jpg) no-repeat bottom center;
	line-height:50px;
	text-indent:22px;
	color:#525252;
	font-size: 20px;
	margin:0;
	font-weight:normal;
}
.leftItem li{
	width: 220px;
	border-bottom:1px solid #eeeeee;
	margin:10px 0 0 20px;
	padding-bottom: 15px;
	height:auto;
}
.leftItem li.itemsListLeft{
	margin-top: 15px;
	padding-bottom: 20px;
}
.leftItem li .infoitemLL a {
	overflow:inherit;
    text-overflow: ellipsis;
	white-space:inherit;	
}
.leftItem li .titleItemLL{
	font-size: 14px;
	font-weight:normal;
	line-height:18px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.leftItem li:last-child{
	border-bottom:none;
	padding-bottom: 20px;
}
.leftItem .topViewCategory{
	width: 220px;
	margin-left: 20px;
	padding-bottom: 15px;
}
.leftItem .topViewCategory dl{	
	padding: 0;
	float:inherit;
	width: 100%;
	margin:20px 0;
}
.leftItem .topViewCategory .numView{
	right: 2px;
}
.centerContent{
	float: left;
	width: 560px;
	margin-left: 30px;
	position: relative;
	padding-top: 10px;
}
.titleHead3 .countStory{
	background:url(../images/dot.jpg) no-repeat 0 7px;
	padding-left: 12px;
	margin-left: 10px;
	font-size: 16px;
	color:#8c8c8c;
	font-family:Helvetica,Arial,sans-serif;
	text-transform:none;
}
.centerContent .leftStory{
	width: 121px;
	height: 169px;
}
.centerContent .rightStory{
	padding-left: 137px;
}
.centerContent .rightStory h4{
	margin-bottom: 10px;
	line-height:20px;
}
.centerContent .contentDescStory{
	max-height:80px;
	margin-top: 5px;
	line-height:20px;
}
.centerContent .detailPrimary{
	font-size: 13px;
	padding:0 12px;
	line-height:25px;
}
.centerContent .wFeildRight{
	width: 122px;
}
.centerContent .wPagination{
	background:none;
	border:1px solid #e5e5e5;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin: 25px 0 10px 0;
}

/*=========================================================================

									category
									
===================================================================*/
.authorInfo{
	width: 260px;
	padding:5px 9px 20px 9px;
	font-size: 14px;
}
.authorImg{
	position: relative;
	width: 240px;
	color:#ffffff;
	font-weight:bold;
}
.authorImg *{
	margin: 0;
	padding: 0;
}
.authorImg dl{
	position: absolute;
	left: 10px;
	bottom: 5px;
}
.authorImg dd{
	line-height:35px;
	text-transform:uppercase;
	font-size: 21px;
}
.author_txt{
	margin-left: 10px;
	width: 220px;
	text-align:justify;
}
.author_txt a{
	font-size: 13px;
}
.colorOrg{
	color:#f14e30;
}
.staffPickImg{
	position: relative;
	margin-bottom: 40px;
}
.staffPickImg a{
	display:block;
	height: 388px;
}