body {
    background-color: #e7e6e5;
    color: #525252;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
}
a {
    color: #f14e30;
}
a:hover {
    text-decoration: underline;
}
a:focus {
    outline: medium none;
}
div, input, * {
    box-sizing: border-box;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}
.formGlobal {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dddddd;
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
    color: #555555;
    display: block;
    font-size: 13px;
    height: 31px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s;
	-webkit-transition: border-color 0.15s ease-in-out 0s;
	-moz-transition: border-color 0.15s ease-in-out 0s;
    width: 100%;
}
.formGlobal:focus {
    border-color: #e64b3a;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(229, 137, 127, 0.6);
    outline: 0 none;
}
.formGlobal::-moz-placeholder {
    color: #999999;
    opacity: 1;
}
.formGlobal[disabled], .formGlobal[readonly], fieldset[disabled] .formGlobal {
    background-color: #eeeeee;
    cursor: not-allowed;
    opacity: 1;
}
textarea.formGlobal {
    height: auto;
}
#header {
    background-color: #ffffff;
    border-bottom: 1px solid #f15e30;
    height: 60px;
    left: 0;
    min-width: 1024px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
#header h1 {
    float: left;
    margin: 10px 20px;
}
.logo {
    background: url("../images/logo.png") repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    display: block;
    height: 40px;
    text-indent: -9999px;
    width: 123px;
}
.navMenu {
    float: left;
    margin-left: 40px;
}
.navMenu li {
    float: left;
}
.navMenu li a {
    color: #525252;
    display: block;
    font-size: 13px;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    text-transform: uppercase;
	white-space:nowrap;
}
.navMenu li a:hover {
    color: #f15e30;
    text-decoration: none;
}
.navMenu li a.active {
    border-bottom: 4px solid #f15e30;
}
.navMenu li a i {
    margin-left: 10px;
}
.navMenu li a.statusStory {
    background-color: #f4f0ef;
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
    height: 30px;
    line-height: 30px;
    margin-top: 15px;
    transition: all 200ms ease-in 0s;
	-webkit-transition: all 200ms ease-in 0s;
	-moz-transition: all 200ms ease-in 0s;
    width: 183px;
}
.navMenu li a.animateStatus {
    height: 44px;
    line-height: 44px;
}
.haveSubMenu {
    position: relative;
}
.subMenu {
    background-color: #f4f0ef;
    border-top: 4px solid #f14e30;
    display: none;
    left: 0;
    min-width: 230px;
    padding: 10px 0 10px 20px;
    position: absolute;
    top: 55px;
}
.subMenu li {
    float: none;
}
.subMenu li a {
    border-bottom: 1px solid #dddddd;
    height: 40px;
    line-height: 40px;
    padding-left: 0;
}
.subMenu li a.last {
    border-bottom: medium none;
}
.searchBox {
    float: right;
    height: 60px;
    padding: 0 80px 0 0;
    position: relative;
    width: 300px;
}
.searchBox .formGlobal {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #ffffff;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    font-style: italic;
    height: 30px;
    margin-top: 15px;
    padding: 0 10px;
}
.searchBox .formGlobal:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #eeeeee;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    box-shadow: none;
    outline: 0 none;
}
.buttonBg {
    background-color: #f14e30;
    position: absolute;
    right: 0;
    top: 0;
}
.searchBox button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #ffffff;
    font-size: 24px;
    height: 60px;
    width: 60px;
}
.buttonBg .arrowLeft {
    color: #f14e30;
    font-size: 25px;
    left: -8px;
    position: absolute;
    top: 17px;
}
.bgOverlay {
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 99;
}
#container {
    margin: 0 auto;
    max-width: 1220px;
    min-width: 980px;
    padding-top: 60px;
}
@media (max-width: 1365px) {
.hiddenMD {
    display: none;
}
#container {
    max-width: 980px;
}
}
@media (min-width: 1366px) {
.hiddenLG {
    display: none;
}
}
.boxContent {
    background-color: #f3f3f2;
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(50, 50, 50, 0.2);
	-webkit-box-shadow: 0 0 4px 0 rgba(50, 50, 50, 0.2);
	-moz-box-shadow: 0 0 4px 0 rgba(50, 50, 50, 0.2);
    margin-top: 20px;
    padding: 20px;
}
.headContent {
    padding: 0 10px;
    position: relative;
}
.headContent.hot {
    padding: 0;
}
.titleHead3 {
    font-size: 24px;
    margin: 5px 0 15px;
    text-transform: uppercase;
}
.viewAll {
    color: #525252;
    position: absolute;
    right: 76px;
    top: 1px;
    z-index: 99;
}
.viewAll:hover {
    color: #f15e30;
    text-decoration: none;
}
.support {
    background-color: #f3f3f2;
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
    font-size: 13px;
    margin-top: 20px;
    padding: 10px;
    position: relative;
}
.btnClose {
    color: #a6a6a6;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
}
.btnClose:hover {
    color: #525252;
}
.item {
    float: left;
    padding: 0 10px 20px;
}
.item.hot {
    padding: 0;
}
.itemX1 {
    width: 180px;
}
.itemX2 {
    width: 380px;
}
.itemX2 a, .itemX1 a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.thumbItem {
    display: block;
    position: relative;
}
.storyShadow {
    bottom: -6px;
    display: block;
    height: 6px;
    position: absolute;
    width: 100%;
}
.storyShadow span {
    background-color: #ffffff;
    border-bottom: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    display: block;
    height: 2px;
}
.storyShadow1st {
    margin: 0 2px;
}
.storyShadow2nd {
    margin: 0 4px;
}
.storyShadow3rd {
    margin: 0 6px;
}
.itemX2 .thumbItem img, .itemX1 .thumbItem img {
    display: block;
    width: 100%;
}
.titleItem {
    color: #3b3a3a;
    display: block;
    font-size: 13px;
    font-weight: bold;
    padding: 15px 0 10px;
}
.titleItem:hover, .categoryItem:hover {
    color: #f14e30;
    text-decoration: none;
}
.itemX1 .authorItem {
    display: block;
}
.itemX2 .authorItem {
    display: block;
}
.categoryItem {
    color: #979797;
}
.itemX2 .wCategory {
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 380px;
}
.itemX1 .wCategory {
    margin-top: 5px;
    width: 180px;
}
#itemsHot .owl-controls {
    border: 1px solid #dddddd;
    border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
    font-size: 16px;
    height: 30px;
    line-height: 26px;
    padding-left: 60px;
    position: absolute;
    right: 0;
    text-align: center;
    top: -50px;
    width: 125px;
}
#itemsHot .owl-controls .disabled {
    color: #dddddd;
}
#itemsHot .owl-controls .owl-next {
    float: left;
    height: 30px;
    width: 30px;
}
#itemsHot .owl-controls .owl-prev {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    float: left;
    height: 30px;
    width: 30px;
}
#itemsHot .owl-controls .owl-prev:hover, #itemsHot .owl-controls .owl-next:hover {
    color: #f15e30;
}
#itemsHot .owl-controls .disabled.owl-prev:hover, #itemsHot .owl-controls .disabled.owl-next:hover {
    color: #dddddd;
}
@media (max-width: 1365px) {
.item.hot .itemX1 {
    width: 172px;
}
.item.hot .itemX2 {
    width: 364px;
}
}
.leftContent {
    float: left;
    width: 780px;
}
.rightContent {
    float: right;
    width: 370px;
}
.newStory {
    margin: 0 -10px;
}
.btnListGrid {
    border: 1px solid #dddddd;
    border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 0;
    width: 63px;
}
.btnListGrid a {
    color: #bfbfbf;
    display: block;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 29px;
    text-align: center;
    width: 30px;
}
.btnListGrid a:hover {
    color: #f14e30;
}
.btnListGrid a.active {
    color: #525252;
}
.btnGrid {
    border-right: 1px solid #dddddd;
}
.itemsListLeft {
	height:110px;
	margin-bottom:20px;	
}
.thumbItemLL {
    float: left;
    position: relative;
}
.thumbLL img {
    display: block;
    height: 110px;
    width: 80px;
}
.infoitemLL {
    padding-left: 95px;
}
.infoitemLL a, .infoitemLL .wCategory {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.titleItemLL {
	display:block;	
	color:#525252;
	font-weight:bold;
	padding: 5px 0;
}
.authorItemLL {
	display:block;	
	padding: 5px 0;
}
.infoitemLL .wCategory {
	width:275px;	
}
.rankLL {
	margin-bottom:5px;	
	height:30px;
	line-height:30px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rankNumber {
	float:left;
	margin-right:15px;
	text-align:center;
	line-height:30px;
	font-size:16px;
	font-weight:bold;
	color:#ffffff;
	position:relative;
	width:30px;
	height:30px;
	border-radius: 2px;	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background-color:#a9a9a9;
}
.rankNumber i {
	color: #a9a9a9;
    display: block;
    font-size: 17px;
    position: absolute;
    right: -5px;
    top: 7px;
}
.rankNumber.blueLL {
	background-color:#22a7f0;
}
.rankNumber.blueLL i {
	color:#22a7f0;
}
.rankNumber.cyanLL {
	background-color:#03c9a9;	
}
.rankNumber.cyanLL i {
	color:#03c9a9;
}
.rankNumber.greenLL {
	background-color:#57c745;	
}
.rankNumber.greenLL i {
	color:#57c745;
}
.viewLL {
	color:#979797;	
}
@media (max-width: 1365px) {
.leftContent {
    width: 580px;
}
.rightContent {
    width: 330px;
}
}
